/* Basic Reset */
html {
    font-size: 14px; /*Base for rem units*/
}

* {
    margin: 15px;
    padding: 0;
    box-sizing: border-box;
}

/* Body and general layout */
body {
    background-color: #f5fafa;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    font-size: 1rem;
    color: #383636;
    margin-left: 5%;
    margin-right: 5%;
}

/* Header styles */
header {
    width: 100%;
    padding:0;
    margin-top:0;
}
.nav-wrapper {
    width: 30%;
    margin-left: auto;
    white-space: nowrap;
    padding:0;
    margin-top: 0;
}

/* Navigation styling */
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin:0;
}

nav ul li {
    margin: 0 0;
    padding:0;
}
sup {
    margin:0;
}
nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1.125rem;
}

nav ul li a:hover {
    color: #22be68;
}

/* Header title and image */


img {
    display: inside;
    max-width: 90%;
    height: auto;
    margin: 0 auto 20px;
}

video {
    display: block;
    margin: 0 auto;
    max-width: 90%;
}

p, ul li {
    text-align:justify;
    font-size: 1rem;
    margin: 1.5rem;
    margin-top: 0;
    margin-left:0;
    color: #124736;
}
ul li a , a {
  color: #124736; /* Main text color */
  text-decoration: underline;
}

em {
   margin:0;
}

ul li a:hover {
  color: #22be68;
  text-decoration-color: #22be68; /* Change underline on hover */
}


.grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    display: grid;
    height: 5 px;
    width:100%;
}

.left-section {
    background-color: black;
    align-items: center;
    margin-bottom: 5%;
    max-width: 60%;
    margin-top:0;
    margin-left:15%;
}
.bottom-left {
    display: grid;
    background-color: black;
    justify-content:center;

}
.top-left {
    display: grid;
    grid-template-columns: 1fr 1fr;  /* Ensures 2 images are side by side */
    align-items: center;
    background-color: black;
}

.anabaena-image {
    max-width: 60%;
    height: auto;
    gap: 1%;
}
.right-section {
    display: grid;
    justify-content: flex-end;
    margin-top: 0%;
    margin-left:0;

}

.agrivoltaics-grid-container {
    grid-template-columns: 1fr 2.5fr;
    justify-content: center;
    display: grid;
    height: 5 px;
    width:100%;
}

.agrivoltaics-left-section {
    margin-left: 0;
}
.agrivoltaics-left-section img {
    max-width: 100%;
}
.agrivoltaics-right-section {
    margin-right: 15%;
}


.website-icons {
    text-align: left ;
    margin-left:0;
    padding: 0rem 0;
    background-color: #f9f9f9;
  }
  
.website-icons a {
    margin: 0;
    font-size: 1.6rem;
    color: #444;
    text-decoration: none;
}
  
  
/* LinkedIn: Blue on hover */
.website-icons a[href*="linkedin"]:hover {
color: #0077b5;
}

/* ORCID: Olive green on hover */
.website-icons a[href*="orcid"]:hover {
color: olive;
}

/* ResearchGate: White on hover */
.website-icons a[href*="researchgate"]:hover {
color: black;
}
  
.main-body,{
    margin-left: 3%;
    margin-right: 9%;
}



.aboutMe-content {
    column-count: 2;
    column-gap: 2rem;
    /*column-rule: 0.07rem solid #ccc; !* Optional: visual divider *!*/
    
}  

.aboutMe-content p {
    break-inside: avoid;
}

/* Responsive Design */
@media (max-width: 900px) {
    .aboutMe-content {
        column-count: 1;
    }

    .nav-wrapper {
        width: 100%;
        justify-content: center;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    .grid-container, .agrivoltaics-grid-container {
        grid-template-columns: 1fr;
    }
}

.profile-header {
    display:grid;
    margin-left:0;
    grid-template-columns: 1fr 5fr;
    align-items: center;
}

strong {
    margin-left: 0;
}

.inline-links {
    padding: 0;
    margin: 0;
}




.heterocyst-figure {
    display: inside;
    justify-content: center;
    max-width: 35%;
    height: auto;
    margin: 0 auto 20px;
}

.cyanobacteria-text {
    padding-right:20rem;
}

.microscopy-body {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    margin-right:5%;
    margin-left:0;
    margin-top:0;
}
.microscopy-figure {
    margin-top:0;

}
.marine-figures {
    margin-left:5%;
}

.marine-body {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
}

.publication-body {
    margin-right:40%;

}

ol li {
    text-align: justify;
}